.center h2 {
  text-align: center;
}

#vcenter {
  vertical-align: middle;
}

.v-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.graytext {
  color: grey; /* Change this to your desired color */
}

.center {
  text-align: center;
}

.cell-output-display > div:not(.quarto-figure) figure svg {
  max-width: 100% !important;
}

.redacted {
  background-color: black;
  color: black;
  border-radius: 4px; /* Optional: gives a slightly blurred/styled edge */
}

.redacted::selection {
  background-color: black; /* Prevents the text from appearing when highlighted */
}

.hidden-title h2 {
  display: none !important;
}